.registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 100vh;
}

.label{
    display: block;
}

.inputBox {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.authFom{
    width: 300px;
    border: 2px solid #000;
    padding: 20px;
    background-color: beige;
}

.errorClass {
    color: red;
    font-size: 0.9em;
    margin-top: -8px;
    margin-bottom: -12px;
}

.buttonstyle{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginUrl{
    margin-top: 15px;
    font-size: 0.9em;
}
